body {
    margin: 0;
    padding: 0;
    background-image: url(https://subtlepatterns.com/patterns/stardust.png);
}
h1, h2, h4 {
    color: white;
}
h1 {
    padding-top: 10vh;
}
h4 {
    margin-bottom: 1em;
}

hr {
    height: 4px;
    width: 18em;
    background-color: white;
    border: solid #a4a4a4;
}

.seccionContacto {
    padding-top: 10vh;
}

i {
    font-size: 21vw;
    color: white;
}

.accordion {
    background-color: #a4a4a4;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 0;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    margin-bottom: 10vh;
    display: none;
    background-color: white;
    overflow: hidden;
}

footer {
    background-color: grey;
    margin-top: 1%;
    border: solid #a4a4a4;
}

.parrafoFooter {
    color: white;
    font-size: 20px;
    padding: 1em 0 0 0;
}